.canvas {
    width: 400px;
    height: 400px;
    background-color: black;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
}

.canvas-row {
    background-color: brown;
    flex: 1;
    display: flex;
}

.canvas-pixel {
    background-color: rgb(255, 255, 255);
    flex: 1;
}